<html>
        <head>
            <title>Lida's blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Мой джанго блог</a></h1>
            </div>

            <div>
                <p>published: 06.02.2016, 12:14</p>
                <h2><a href="">Это мой первый пост</a></h2>
                <p>Божечки мои, я прям как программист.</p>
            </div>

            <div>
                <p>published: 06.02.2016, 15:06</p>
                <h2><a href="">Это мой второй пост</a></h2>
                <p>Блин, никто не поверит</p>
            </div>
        </body>
    </html>

